#backgroundContainer {
    width: 750px;
    height: 1221px;
    text-align: center;
    margin: 0 auto;
    background: url(../images/bg.png);
}

#danpingContainer {
    width: 594px;
    height: 832px;
    text-align: center;
    margin: 0 auto;
    background: url(../images/danping_bg.png);
}

#topContainer {
    width: 100%;
    height: 180px;
    text-align: center;
    margin: 0 auto;
}