html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    height: 100%;
}

.main-content {
    background-image: url("../images/main-content.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.sign-result-content {
    background-image: url("../images/sign-result.png");
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    margin-top: 10%;
}

.sign-result-content img {
    margin: 0 auto;
    padding-top: 25%;
    width: 30%;
}

.sign-result-text {
    padding-top: 30%;
    margin-left: 3em;
}

.sign-result-desc {
    padding-top: 1.5em;
}

.comment-content {
    margin-top: 2em;
    margin-left: 0em;
    margin-bottom: 1em;
    text-align: center;
}

.btn-comment img {
    width: 60%;
}

.btn-move-down {
    margin-bottom: 1em;
    margin-left: -2em;
}